{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>faq management</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <link href="{{media_url}}/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{media_url}}/static/js/faq/faqAutoSuggest.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
<!--     <link rel="stylesheet" type="text/css" href="/static/css/like.css" /> -->
    <script src="{{media_url}}/static/js/jquery/jquery-1.7.1.min.js"></script>
<!--     <script src="{{media_url}}/static/js/like.js"></script> -->
<!-- <script src="http://drewwilson.com/js/jquery.js"></script> -->
    <script src="{{media_url}}/static/js/bootstrap.min.js"></script>
    <script src="{{media_url}}/static/js/faq/jquery.faqAutoSuggest.js"></script>
  </head>
  <body>
  
  	{%block custom-css%}{%endblock%}
	<div id="main_div" class ="container">
	{%block body%}MAIN DIV GOES HERE{%endblock%}
	</div>

    {%block custom-js%}
	{%endblock%}
  </body>
</html>